:root {
  /* Remember that variables can change depending on what element they are in */
  --base: #1f2227;
  --on-base: #cfd0d1;
  --sidebar: #1f2227;
  --on-sidebar: #cfd0d1;
  --border: #2c2f34;
  --accent: #2e71ff;
  --on-accent: white; /* Change --on-accent in #sidebar */
  --surface: #2f3136;
  --on-surface: white;

  --font-sans: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

body {
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 450;
}

button, input:not([type=radio]), select, a {
  font-size: 13px;
  font-weight: 450;
}

nav {
  background: #1a1d21;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

/* To use as a CodeMirror theme, use the class cm-s-jsfiddle instead of CodeMirror */

.CodeMirror {
  font-family: "SF Mono","Monaco","Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
  font-size: 12px;
  line-height: 1.4em;
}

.CodeMirror .CodeMirror-cursor {
  border-left: 0;
  width: 2px;
  border-radius: 2px;
  background: #f7ed7e;
}

.CodeMirror .CodeMirror-selected {
	background: #404347;
}

.CodeMirror .cm-string {
	color: #f5eea2;
}

.CodeMirror .cm-number {
	color: #ed6e55;
}

.CodeMirror .cm-keyword {
	color: #bc70fd;
}

.CodeMirror .cm-def {
  background: #fdc50220;
  border-radius: 2px;
  padding: 1px 2px;
  color: #fdc502;
}

.CodeMirror .cm-comment {
	color: #4e6a87;
}

.CodeMirror .cm-variable-2 {
	color: #2795ee;
}

.CodeMirror .cm-property {
	color: #6ce890;
}

.CodeMirror .cm-operator {
	color: #ff4f68;
}

.CodeMirror .cm-tag {
  color: #ff4f68;
}

.CodeMirror .cm-attribute {
  color: #f8b068;
}

.CodeMirror .cm-atom {
  color: #7561ff;
}

.CodeMirror .cm-builtin, .CodeMirror .cm-qualifier {
  color: #f8b068;
}